@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P";
}

body{
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

canvas {
    margin-top: 30px;
    background-color: #111;
}